	html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	position: relative;
	overflow: hidden;
	display: table;
}

body {
	display: table;
}

.container {
	margin-top: 2px;
	margin-bottom: 2px;
}

.scramble {
	color: #111;
	font-family: SimHei, monospace;
}

#header {
	height: 2em;
	border: 1px solid #eee;
}

#body {
	width: 100%;
	border: 1px solid #eee;
	background-color: #efefef;
}

#scrambleContainer {
	width: 100%;
	height: 1em;
	text-align: center;
}

#timer {
	text-align: center;
	width: 100%;
	height: 100%;
}

#times {
	text-align: center;
	width: 100%;
	height: 100%;
}

#timeContainer {
	max-height: 35vh;
	overflow:auto;
}

th {
	width: 100px;
}

td {
	width: 100px;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background: #ccc;
}

tr:nth-child(odd) {
	background: #ddd;
}

#bottom {
	width: 100%;
	height: 35%;
	position: absolute;
	bottom: 0;
	display: table;
}

/* Chat */

#chat {
	float: left;
	border: 1px solid #eee;
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: rgba(255, 255, 192, 0.5);
	position: relative;
	display: table;
}

#chatMessages {
	width: 100%;
	height: calc(100% - 1em);
	display: table;
}

#messages {
	width: 100%;
	height: 100%;
	max-height: 30vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-top: 2px;
}

.chatLine {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 2px;

}

.chatTime {
	color: grey;
	float: left;
	padding-right: 10px;
}

.chatName {
	font-weight: bold;
	min-width: 75px;
	display: inline-block;
	text-align: right;
	margin-right: .5em;
}

.chatMessage {
}

#chatInput {
	display: table;
	width: 100%;
	height: 1em;
	position: absolute;
	bottom: 0;
}

#chatInputBox {
	width: 100%;
}

#sendChat {
	display: table-cell;
}

#chatInputSpan {
	display: table-cell;
	width: 100%;
	padding: 0 5px;
}

/* Stats */

#stats {

}